<section class="text-center container">
  <h1><%= @quote.body %></h1>
  <h2>~<%= @quote.speaker.name %><h2>
  <h3>overheard by <%= @quote.poster.name %><h3>
</section>

<div class="text-center container">
  <table class="table">
    <% @quote.comments.each do |comment| %>
  <tr>
    <td>
      <%= comment.body %>
    </td>
    <td>
      <%= comment.commenter.name %> at <%= comment.created_at %>
    </td>
 </tr>
 <% end %>
</table>
  <% if logged_in? && @quote.poster_id == current_person.id || @quote.speaker_id == current_person.id %>
    <%= link_to "Edit", edit_quote_path(@quote), :class => 'btn btn-primary' %>
    <%= link_to 'Delete', "/quotes/#{@quote.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
  <% end %>
</div>
