<div class="container">
  <div class= "row">
    <div class= "col-md-4 new-person">
      <h2>New Person</h2>
      <%= form_for @person do |f| %>
        <div class="form-group">
            <%= f.label :name, "name"%>
            <%= f.text_field :name, :required => true, :class=> "form-control" %>

            <%= f.label :bio, "bio" %>
            <%= f.text_area :bio, :required => true, :class=>"form-control" %>
          </div>

          <div>
            <%= f.submit "Create person", :class => 'btn',:id=> 'create-person-button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
