<section class="new_person">
  <%= form_for @person do |f| %>
    <fieldset>
      <legend>New Person</legend>
      <div>
        <%= f.label :name, "name"%>
        <%= f.text_field :name, :required => true %><br />
      </div>

      <div>
        <%= f.label :bio, "bio" %>
        <%= f.text_area :bio, :required => true %><br />
      </div>

      <div>
        <%= f.submit "Create person", :class => 'create_person_button' %>
      </div>
    </fieldset>
  <% end %>

</section>
