<div class= "stickypage">
  <h1 class="stickypage">Quotehort Four</h1>
  <section>
    <ul class= "stickynotes_container">
      <% if @faux_logged_in %>
        <li class="stickynote" id="new_quote_form" style ="display:none">
           <%= form_for @new_quote, url: create_quote_path do |f| %>
              <%= f.text_field :body, class: "stickyquote", placeholder: "Type quote here...", required: true %>
              <%= f.collection_select(:speaker_id, Person.all, :id, :name, {:prompt => 'Who said it?'}, {:required => true, class: "stickyspeaker"}) %>
               <%= f.submit %>
           <% end %>
        </li>
      <% end %>
      <% @quotes.each do |quote| %>
        <li class="stickynote ">
              <%= link_to "#{quote.body}", home_quote_path(quote), :class => "stickyquote" %>
              <%= link_to "~#{quote.speaker.name}", home_person_path(quote.speaker), :class => "stickyspeaker" %>
        </li>
      <% end %>
    </ul>
  </section>
</div>
