<div class="container text-center">
  <h1>Cohort Four Quotes</h1>

  <p>
    <%= link_to "Add Someone", new_person_path %>
  </p>

  <section>
    <%= form_tag person_select_path, method: :get do %>
       <fieldset>
         <legend> Who are you?</legend>
         <%= collection_select(:person, :id, Person.all, :id, :name, prompt: "Select a person:") %>
         <br>
         <%= submit_tag "Go to my quotes page" %>
       </fieldset>
     <% end %>
  </section>

  <div>
    <ul class= "stickynotes_container">
      <% @quotes.each do |quote| %>
        <li class="stickynote ">
              <%= link_to "#{quote.body}", home_quote_path(quote), :class => "stickyquote" %>
              <%= link_to "~#{quote.speaker.name}", home_person_path(quote.speaker), :class => "stickyspeaker" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
