<div class="text-center container">
  <h1>Cohort Four Quotes</h1>

  <p>
    <%= link_to "Add Someone", new_person_path %>
  </p>

  <section class="text-center container">
    <%= form_tag person_select_path, method: :get do %>
       <fieldset class="text-center container">
         <legend> Who are you?</legend>
         <%= collection_select(:person, :id, Person.all, :id, :name, prompt: "Select a person:") %>
         <br>
         <%= submit_tag "Go to my quotes page" %>
       </fieldset>
     <% end %>
  </section>

  <div class="text-center container">
    <ul>
      <% @quotes.each do |quote| %>
        <li>
          <h2>
            <%= link_to "#{quote.body}", home_quote_path(quote), :class => "sticky", :id => "quote" %>
            <%= link_to "~#{quote.speaker.name}", home_person_path(quote.speaker), :class => "sticky", :id => "speaker" %>
          </h2>
        </li>
      <% end %>
    </ul>
  </div>
</div>
