<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuoteBoard</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  </head>
  <body>
      <header class="container-fluid menu-holder">

        <div class="menu-button-holder hamburger dropdown-toggle">
          <div class= "btn btn-default menu-button", id= "hamburger">
              <span class="glyphicon glyphicon-menu-hamburger menu-glyph"></span>
          </div>
        </div>

        <div class="menu dropdown hidden">
          <div class="menu-button-holder">
            <%= link_to root_path, class: "btn btn-default menu-button" do %>
              <span class="glyphicon glyphicon-home menu-glyph"></span>
              <span class="menu-word">Home</span>
            <% end %>
          </div>

          <% if logged_in? %>
            <div class="menu-button-holder">
              <div class= "btn btn-default menu-button", id= "new_quote_button">
                <%= link_to new_quote_path do %>
                  <span class="glyphicon glyphicon-pencil menu-glyph"></span>
                  <span class="menu-word">New Quote</span>
                <% end %>
              </div>
            </div>

            <div class="menu-button-holder">
              <%= link_to person_detail_path(current_person.id), class: "btn btn-default menu-button" do %>
                <span class="glyphicon glyphicon-tasks menu-glyph"></span>
                <span class="menu-word">My details</span>
              <% end %>
            </div>

          <% end %>

          <div class="menu-button-holder">
             <% if logged_in? %>
              <div class="btn btn-default menu-button">
                <%= link_to logout_path, class: "menu-word", method: :delete do %>
                  <span class="glyphicon glyphicon-user menu-glyph"></span>
                  <span class="menu-word">Logout</span>
                <% end %>
              </div>
            <% else %>
              <div class="btn btn-default menu-button">
                <%= link_to login_path, class: "menu-word" do %>
                  <span class="glyphicon glyphicon-user menu-glyph"></span>
                  <span class="menu-word">Login</span>
                <% end %>
              </div>
              <%= link_to new_person_path, class: "btn btn-default menu-button" do %>
                <span class="glyphicon glyphicon-plus menu-glyph"></span>
                <span class="menu-word">New Person</span>
              <% end %>
            <% end %>
          </div>
      </div>
    </header>
    <div class="container">
      <div class="top-margin">
        <%= render partial: "shared/flash_messages", flash: flash %>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
