<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuoteBoard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  </head>
  <body>
    <header>
      <%= link_to new_quote_path, class: "btn btn-default menu-button" do %>
        <span class="glyphicon glyphicon-plus menu-glyph"></span>
        <span class="menu-word">New Quote</span>
      <% end %>

      <%= link_to new_person_path, class: "btn btn-default menu-button" do %>
        <span class="glyphicon glyphicon-user menu-glyph"></span>
        <span class="menu-word">New Person</span>
      <% end %>
    </header>
    <div class="container text-center">
      <div class= "contentholder">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
