<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuoteBoard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  </head>
  <body>
      <header class="container-fluid">
        <% if @faux_logged_in %>
          <div class="menu-button-holder">
            <div class= "btn btn-default menu-button", id= "new_quote_button">
                <span class="glyphicon glyphicon-plus menu-glyph"></span>
                <span class="menu-word">New Quote</span>
            </div>
          </div>
        <% end %>

        <div class="menu-button-holder">
          <%= link_to new_person_path, class: "btn btn-default menu-button" do %>
            <span class="glyphicon glyphicon-user menu-glyph"></span>
            <span class="menu-word">New Person</span>
          <% end %>
        </div>

        <div class="menu-button-holder">
          <div class="btn btn-default menu-button">
           <span class="glyphicon glyphicon-tasks menu-glyph"></span>
           <%= collection_select :person, :id, Person.all, :id, :name, {prompt: "Select Your Page"}, {class: "menu-word", onchange: "window.location='/people/'+this.value+'/home'"} %>
         </div>
      </div>
    </header>
        <%= yield %>
  </body>
</html>
